<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102183328286-12ro7lcb31rvv256n94hosngfukc0mab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102183328286-12ro7lcb31rvv256n94hosngfukc0mab</string>
	<key>API_KEY</key>
	<string>AIzaSyDjpq_lxB_njlCCrAXM0qZVxgr9w_TuxOM</string>
	<key>GCM_SENDER_ID</key>
	<string>102183328286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sVITs.Interface-VKGB</string>
	<key>PROJECT_ID</key>
	<string>interfacevkgb</string>
	<key>STORAGE_BUCKET</key>
	<string>interfacevkgb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102183328286:ios:dd487020aa2a1a7a6eec0f</string>
</dict>
</plist>